# Virtualenv
venv/
env/
ENV/
.venv/
*.pyc
__pycache__/

# VSCode & IDEs
.vscode/
.idea/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Migrations (optional, kalau gak mau simpan ke git)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Static & media files
staticfiles/
media/

# dotenv
.env
*.env

# OS junk
.DS_Store
Thumbs.db
